/* Global CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.notes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header {
  height: 75px;
  background-color: #00bcb4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: #fff;
  font-size: 24px;
  margin: 10px;
}

header .button-container {
  margin: 10px;
  display: flex;
}

.toggle-button {
  background-color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.note-input {
  width: 80%;
  max-width: 600px;
  margin: 20px auto 0;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.note-input form {
  display: flex;
  flex-direction: column;
}

.note-input form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.note-input form textarea {
  margin-bottom: 10px;
}

.note-input form button {
  padding: 10px;
  background-color: #00bcb4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note-input form button:hover {
  background-color: #008c83;
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.note {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 20px 0 20px;
  width: 300px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.note:hover {
  transform: scale(1.05);
}

.note .note-date {
  font-size: 12px;
  text-align: right;
}

.note h1 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.note p {
  font-size: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  padding: 8px;
  background-color: #ed436d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note button:hover {
  background-color: #c62045;
}

.full-page-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  /* height: 100%; */
  box-shadow: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 90vh;
}

.full-page-view .modal {

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  overflow: auto;
  /* max-height: 80%; */
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal h1 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

.modal .pageContent {
  max-height: 80%;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.modal .pageContent.hide-scrollbar {
  overflow-y: hidden !important;
}

.modal p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  /* margin-bottom: 30px; */
}

.modal button {
  background-color: #ed436d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.modal .note-date {
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  right: 20px;
  /* margin: 10px 20px 10px 0px; */
}

.modal button:hover {
  background-color: #c62045;
}

.paginate-button {
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-button button:disabled {
  background-color: #cccccc;
  color: #808080;
  opacity: 0.5;
  cursor: not-allowed;
}

.back-button,
.forward-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  margin: 10px;
}

.back-button:hover,
.forward-button:hover {
  background-color: #e0e0e0; /* Adjust hover color */
}

/* Additional styling for icons (optional) */
.back-button svg,
.forward-button svg {
  width: 20px; /* Adjust icon size */
  height: 20px;
  fill: #4a4a4a; /* Adjust icon color */
}

@media only screen and (max-width: 768px) {
  .app-container {
    height: 150vh;
  }

  .note-input {
    width: 100%;
    padding: 15px;
  }

  .notes-wrapper {
    justify-content: center;
  }

  .note {
    width: 100%;
    margin: 15px 15px;
  }

  .note h1 {
    font-size: 1.2em;
  }

  .note p {
    font-size: 1em;
  }

  .note button {
    padding: 7px;
  }
}

@media only screen and (max-width: 480px) {
  .note {
    width: 100%;
    margin: 10px 10px;
  }

  .note-input {
    padding: 10px;
  }

  .note h1 {
    font-size: 1.1em;
  }

  .note p {
    font-size: 0.9em;
  }

  .note button {
    padding: 6px;
  }

  .full-page-view .modal h1 {
    font-size: 24px;
  }

  .full-page-view .modal p {
    font-size: 14px;
  }

  .full-page-view .modal button {
    padding: 8px 12px;
  }
}